body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #e0e0e0;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #2b2b2b;
    color: white;
    font-size: 14px;
    outline: none;
}

form input::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #FF7B00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

button:hover {
    background-color:  #FF7B00;
}

.success_alert
{
    padding: 5px 15px;;
    border: solid green 1px ;
}